.top {
  display: flex;
  flex-direction: row;
}

#comments {
  max-width: 700px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
}

#create-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#create-comment label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

#create-comment input {
  font-size: 15px;
  margin-bottom: 10px;
  height: 150px;
}

#create-comment button {
  background-color: rgb(150, 113, 171);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  color: white;
  margin-right: 10px;
}

#comments-list {
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
}

#comments-list img {
  margin-right: 20px;
}

.top h3 {
  margin-right: 15px;
}

.top p {
  font-size: 12;
  color: rgb(111, 111, 111);
}

.bottom button {
  color: rgb(159, 159, 159);
  margin-right: 10px;
}

.test {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post {
  background-color: rgb(150, 113, 171);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  color: white;
  margin-right: 10px;
}
