#description {
  height: 150px;
}

#create-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}

#create-form label {
  background-color: #04AA6D;
}

#create-form button {
  background-color: blueviolet;
}

#create-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}