#create-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}

#description {
  height: 150px;
}

#create-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}

#create-form label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

#create-form button {
  margin-top: 15px;
  background-color: rgb(144, 107, 178);
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.submit-button {
  display: flex;
  justify-content: right;
  width: 100%;
}

