
#create-button {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 5px;
  background-color: #8e4ea5;
  border-radius: 5px;
  color: white;
}

#issues {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid grey;
  background-color: rgb(248, 242, 255);
}

#issues td, th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-left: 8px;
  background-color: white;
}

#issues th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f5f5fc;
  color: black;
}

.options {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

.options select {
  text-align: center;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 5px;
}

