
#description {
  height: 150px;
}

#edit-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}

#edit-form select {
  margin: 10px 0px 0px 0px;
  padding: 5px 20px 5px 20px;
  border-radius: 25px;
  background-color: rgb(248, 244, 247);
}

#edit-form label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

#edit-form button {
  margin-top: 15px;
  background-color: rgb(144, 107, 178);
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.submit-button {
  display: flex;
  justify-content: right;
  width: 100%;
}

.btns {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: right;
}

#edit-btn {
  background-color: rgb(77, 77, 219);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  color: white;
}


#cancel-btn {
  background-color: rgb(219, 77, 105);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  color: white;
}

.submit-btn-container {
  display: flex;
  width: 100%;
  justify-content: right;
}

.back {
  display: flex;
  width: 90%;
  justify-content: left;
}

.back-btn {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.description {
  border: 1px solid rgb(231, 222, 244);
  border-radius: 5px;
  padding: 5px;
}

.container {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: right;
}

#delete-btn {
  background-color: rgb(219, 77, 105);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  color: white;
  margin-right: 10px;
}

.btns {
  margin-top: 10px;
}