@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}

input {
  border: 1px solid rgb(231, 222, 244);
  border-radius: 5px;
  padding: 5px;
}

textarea {
  border: 1px solid rgb(231, 222, 244);
  border-radius: 5px;
  padding: 5px;
  height: 150px;
}